#top-navbar {
    background: url('../../img/dust_texture.jpg');
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 50px;
    
    color: white;
}

#top-navbar > div , #top-navbar img {
    height: 50px;
}
